/vendor
/node_modules
/.git
/.github
.env
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
Dockerfile*
README.md
.phpunit.result.cache